USE [PROG260FA22]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateMonsterByID]    Script Date: 11/11/2022 8:08:03 PM ******/
DROP PROCEDURE [dbo].[spUpdateMonsterByID]
GO
/****** Object:  StoredProcedure [dbo].[spGetMonsterByID]    Script Date: 11/11/2022 8:08:03 PM ******/
DROP PROCEDURE [dbo].[spGetMonsterByID]
GO
/****** Object:  StoredProcedure [dbo].[spGetAllMonsters]    Script Date: 11/11/2022 8:08:03 PM ******/
DROP PROCEDURE [dbo].[spGetAllMonsters]
GO
/****** Object:  StoredProcedure [dbo].[spDeleteMonsterByID]    Script Date: 11/11/2022 8:08:03 PM ******/
DROP PROCEDURE [dbo].[spDeleteMonsterByID]
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 11/11/2022 8:08:03 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Monsters]') AND type in (N'U'))
DROP TABLE [dbo].[Monsters]
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 11/11/2022 8:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monsters](
	[id] [int] NULL,
	[Name] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[HP] [int] NULL,
	[MP] [int] NULL,
	[Location] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (1, N'Bérengère', N'Gnu, brindled', 947, 117, N'TX')
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (2, N'Lucrèce', N'Kelp gull', 659, 6, N'NJ')
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (3, N'Médiamass', N'Cat, kaffir', 780, 167, N'OH')
GO
/****** Object:  StoredProcedure [dbo].[spDeleteMonsterByID]    Script Date: 11/11/2022 8:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spDeleteMonsterByID]
	-- Add the parameters for the stored procedure here
	@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Monsters]
	WHERE [dbo].[Monsters].id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllMonsters]    Script Date: 11/11/2022 8:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllMonsters]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[Monsters]
	ORDER BY [id]
END
GO
/****** Object:  StoredProcedure [dbo].[spGetMonsterByID]    Script Date: 11/11/2022 8:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetMonsterByID]
	-- Add the parameters for the stored procedure here
	@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[Monsters]
	WHERE [dbo].[Monsters].id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateMonsterByID]    Script Date: 11/11/2022 8:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateMonsterByID]
	-- Add the parameters for the stored procedure here
	@ID int,
	@Name varchar(50) = null,
	@Type varchar(50) = null,
	@HP int = null,
	@MP int = null,
	@Location varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @HPBefore int
	DECLARE @MPBefore int

    -- Insert statements for procedure here
	SET @HPBefore = (SELECT [dbo].[Monsters].HP FROM [dbo].[Monsters] WHERE [id] = @ID)
	SET @MPBefore = (SELECT [dbo].[Monsters].MP FROM [dbo].[Monsters] WHERE [id] = @ID)

	UPDATE [dbo].[Monsters]
	SET [Name] = (CASE WHEN @Name is not null THEN @Name ELSE [Name] END), [Type] = (CASE WHEN @Type is not null THEN @Type ELSE [Type] END), 
		[HP] = (CASE WHEN @HP is not null THEN @HP ELSE [HP] END), [MP] = (CASE WHEN @MP is not null THEN @MP ELSE [MP] END), 
		[Location] = (CASE WHEN @Location is not null THEN @Location ELSE [Location] END)
	WHERE [id] = @ID
END
GO
